<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Interface">
        <setting id="show_thumbnails" label="Show Thumbnails" type="bool"  default="true"/>
        <setting id="page_size" label="Items per Page" type="slider" option="int" subsetting="true" enable="eq(-1,true)" default="30" range="10,10,150"/>
        <setting id="use_grid" label="Use Grid Layout for Shows" type="bool"  default="false"/>
	</category>
</settings>